# Hyperledger Fabric & Blockchain heavy files
fabric-samples/bin/
fabric-samples/config/
fabric-samples/builders/
**/node_modules/
**/vendor/
build/
dist/
vendor/
llm_server/vllm_env/
vendor/
fabric-samples/
node_modules/
vllm_env/
*.tar.gz